<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.mapper.UserMapper">

    <!--    public User getUserByid(String username);-->
    <select id="getUserByid" resultType="com.iot.bean.User">
        select * from user where UserName=#{Username}
    </select>

    <!--    public void insertUser(User user);-->
    <insert id="insertUser" >
        insert into user(username,userpsd,email) values(#{Username},#{UserPsd},#{email})
    </insert>

    <select id="getEquipmentByUsername" resultType="com.iot.bean.Equipment">
        select * from equipment where UserName=#{Username}
    </select>

    <update id="insertEquipment" >
        UPDATE equipment SET username=#{param1} WHERE equipmentuid=#{param2}
    </update>

    <select id="getEquipmentByUid" resultType="com.iot.bean.Equipment">
        select * from equipment where EquipmentUid=#{EquipmentUid}
    </select>

    <update id="updatePsd" >
        update user set userpsd=#{UserPsd} where username=#{Username}
    </update>

    <insert id="saveEquipmentState" >
        insert into equipmentstate(equipmentuid,temperature,humidity,eggnumber) values(#{equipmentUid},#{temperature},#{humidity},#{eggNumber})
    </insert>

    <insert id="insertEquipmentWithoutName" >
        insert into equipment(equipmenturl,equipmentuid,connecttime,connectstate) values(#{EquipmentUrl},#{EquipmentUid},#{connectTime},#{connectState})
    </insert>

    <update id="updateEquipment">
        UPDATE equipment SET equipmenturl=#{EquipmentUrl},connecttime=#{connectTime},connectstate=#{connectState} WHERE equipmentuid=#{EquipmentUid}
    </update>

    <update id="updateEquipmentState">
        UPDATE equipmentstate SET temperature=#{temperature},humidity=#{humidity},eggnumber=#{eggNumber} WHERE equipmentuid=#{equipmentUid}
    </update>

    <select id="getEquipmentStateByUid" resultType="com.iot.bean.EquipmentState">
        select * from equipmentstate where EquipmentUid=#{EquipmentUid}
    </select>
</mapper>