<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p th:text="${msg}">text</p>
    <div class="addForm">
        <form action="/bind" method="get">
        <p>请填写所要添加设备的序列号</p>
            <input type="text" name="EquipmentUid">
        <button>提交</button>
        </form>
    </div>
</body>
</html>